ion-header {
    ion-toolbar {
        border-bottom: 1px solid #cacaca !important;
        ion-buttons {
            ion-back-button {
                color: var(--ion-color-primary);
            }
            
            ion-icon {
                height: 28px;
                width: 44px;
                color: var(--ion-color-primary);
            }
        }
    }
}

ion-content {
    ion-row {
        width: 100%;

        ion-col {
            width: 100%;
            div {
                ion-label {
                    display: flex;

                    .tagIcon {
                        margin-left: auto;
                        font-size: 25px;
                    }
                    .favIcon {
                        font-size: 25px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

ion-footer {
    margin-bottom: 20px;

    ion-icon {
        color: var(--ion-color-primary);
    }

    ion-tab-bar {
        border-radius: 40px;
        border: 1px solid #ededed;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        height: 44px;
        box-shadow: 0 8px 6px -6px #ededed;
    }

    ion-tab-button {
        --ripple-color: white;
    }
}
