<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{tagName}}</ion-title>
    <ion-buttons slot="end" (click)="changeDisplay()">
      <ion-icon *ngIf="display" name="reorder"></ion-icon>
      <ion-icon *ngIf="!display" name="apps"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner color="primary" name="lines" *ngIf="isEmpty"></ion-spinner>

  <app-notes-display
    [notes]="notes"
    [listDisplay]="display">
  </app-notes-display>

  <ion-list *ngIf="notes.length === 0">
    <ion-title>You have no notes</ion-title>
  </ion-list>
  
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-tab-bar>
      <ion-tab-button (click)="addNote()">
        <ion-label>Add note</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
